<?php if (!defined ('TYPO3_MODE')) 	die ('Access denied.'); ?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<style type="text/css">
<!--
###CSS_STYLES###
-->
</style>
<title>###LABEL_V_REGISTRATION_CANCELLED_SUBJECT###</title>
<meta http-equiv="Content-Type" content="text/html; charset=###CHARSET###">
<meta name="generator" content="TYPO3 CMS">
</head>
<body bgColor="#ffffff" leftmargin="10" topmargin="10" marginwidth="10" marginheight="10">
<table border="0" cellspacing="0" cellpadding="1" width="100%">
	<tr><td>
		<p>{$dear} {$first_name}</p>
		<p>{$some_more_info}</p>
		<p>{$subject}</p>
		<p>{$message1}</p>
		<p>{$message2}</p>
		<p>{$kind_regards}</p>
	</td></tr>
</table>
</body></html>

