<?php if (!defined ('TYPO3_MODE')) 	die ('Access denied.'); ?>
{$stepmessage}
Dieser Username existiert bereits. Bitte wählen Sie einen anderen.
<form class="tx_feuserregister_create" method="post"  action="{$form_action}" >
  <input type="hidden" name="feuserregister[action]" value="create"/>
  <input type="hidden" name="feuserregister[preview]" value="{$preview}"/>
  {if $username_isset == 1}
  {$username_error}
  {$username}
  {/if}
  {$usergroup}
  {$by_invitation}
  {$gender}
  {$status}
  {$password}  {$password_validate}

  {$first_name}
  {$last_name}
  {$email}
  {$module_sys_dmail_category}
  {$savebutton}
</form>