<?php if (!defined ('TYPO3_MODE')) 	die ('Access denied.'); ?>
Bitte geben Sie Ihre Emailadresse ein, und drücken sie dann den Absendenbutton.
<form id="feuserregisterform" class="tx_feuserregister_create" method="post"  action="{$form_action}" >
{$email_label} {$email}
{$savebutton}
</form>
