<!-- ###EMAIL_TEMPLATE_CREATE_SAVED_ADMIN### begin -->
<!--###SUB_RECORD###-->###LABEL_V_NOTIFICATION### ###LABEL_V_REGISTRATION_CREATED###
###LABEL_V_REGISTRATION_CREATED###

###LABEL_NAME### ###FIELD_name###
###LABEL_EMAIL### ###FIELD_email###
###LABEL_USERNAME### ###FIELD_username###

###LABEL_KIND_REGARDS###
###SITE_NAME###
<!--###SUB_RECORD###-->
<!-- ###EMAIL_TEMPLATE_CREATE_SAVED_ADMIN### end-->
